@charset "UTF-8";

@font-face {
    font-family: keifont;
    src: url(./fonts/keifont.ttf);
}

body {
    font-family: keifont;
}

header {
    display: flex;
    border-bottom: solid 5px black;
    justify-content: space-between;
    padding: 0 20px;
}
.hidden {
    display: none;
}

.open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
}
.open span,
.open span:before,
.open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: black;
    transition: 0.5s;
    position: absolute;
}
.open span:before {
    bottom: 8px;
}
.open span:after {
    top: 8px;
}
#input:checked ~ .open span {
    background: rgba(0, 0, 0, 0);
}
#input:checked ~ .open span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#input:checked ~ .open span::after {
    top: 0;
    transform: rotate(-45deg);
}
#nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.473);
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    background: #fff;
    transition: 1.5s;
}
a {
    text-decoration: none;
    color: rgb(129, 129, 129);
}
nav ul {
    list-style: none;
}
#input:checked ~ #nav-close {
    display: block;
    opacity: 0.5;
}
#input:checked ~ .nav_content {
    left: 80%;
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 750px) {
    #input:checked ~ .nav_content {
        left: 10%;
        box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
    }
}

.main {
    width: 100%;
    text-align: center;
    border-bottom: solid 5px black;
    font-size: 40px;
}
.main img {
    width: 30%;
}
@media only screen and (max-width: 750px) {
    img {
        width: 100%;
    }
}

.card-body div {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}
.card {
    max-width: 400px;
    border-radius: 3px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
#card-body {
    position: absolute;
    bottom: 1px;
    margin-left: 10px;
    display: inline-block;
    display: none;
}
#card p {
    max-width: 400px;
    border-radius: 3px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.icon {
    width: 20vw;
}
@media only screen and (max-width: 750px) {
    .icon {
        width: 50vw;
    }
}

h3 {
    border-top: solid 5px black;
    text-align: center;
}

.flex {
    display: flex;
}
.flex .img {
    width: 400px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}
.flex .right {
    margin: 0 0 0 20px;
    padding: 0;
}
.flex .title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
}
.flex .text {
    margin: 10px 0 0;
    padding: 0;
}
